html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.left-bar {
    background-image: url(../assets/images/bg2.jpg);
    /*background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.right-bar {
    background-image: url(../assets/images/bg3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.jumbotron {
    background-color: transparent;
    border: 1px solid gray;
}

.fix-it {
    position: absolute;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
}

.my-text {
    font-family: 'Garamond', 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
}

a.my-text {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

a.my-text:hover {
    text-shadow: 2px 2px gray;
    color: white;
}

.my-text2 {
    text-shadow: 2px 2px black;
}

.my-text3 {
    font-family: 'Garamond', 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    color: white;
    text-shadow: 0.5px 0.5px yellow;
}

.time-sent {
    text-align: right;
    padding-right: 5px;
    font-size: 18px;
}

.my-table {
    width: 100%;
}

.my-text-home {
    position: relative;
    top: 60%;
    left: 60%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.my-btn {        
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid gray;
    color: white;
}

.my-btn2 {
    background: transparent;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px black;
}

.my-btn3 {
    margin-top: 20px;
}

.my-btn4 {
    margin-left: 32%;
}

.my-icon {
    padding-left: 10%;
    font-size: 15px;
    pointer-events: auto;
    cursor: pointer;
}

.my-div {
    position: fixed;
    bottom: 1%;
}

.my-input {
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px black;
    border: 1px solid black;
}

.my-input2 {
}

.my-input::-webkit-input-placeholder { /* Chrome */
  color: lightgray;
  text-shadow: 1px 1px black;
}

.my-input:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
  text-shadow: 1px 1px black;
}

.my-input::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
  text-shadow: 1px 1px black;
}

.my-input:-moz-placeholder { /* Firefox 4 - 18 */
  color: lightgray;
  text-shadow: 1px 1px black;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
    background-color: lightgray;
    border: none;
}

.modal-title {
    background-color: lightgray;
}

.modal-body {
    background-color: lightgray;
}

.modal-footer {
    background-color: lightgray;
    border: none;
    padding-right: 45%;
}

.modal-footer2 {
    padding-right: 38%;
}
