<!DOCTYPE html>
<html ng-app='blocChat'>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bloc Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">    
</head>
<body>

<div class="container" ng-controller="RoomCtrl as room">
    <div class="row">
        <div class="col-md-3 col-lg-2 left-bar">                 
            <div class="jumbotron">
                <div class="container-fluid fix-it">                    
                    <h2 class="my-text">BlocChat</h2>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-lg my-btn" ng-click="room.openModal()">Add Room</button>
            </div>
            <div ng-repeat="r in room.roomlist">
                <a ng-click="room.activateRoom(r)" ui-sref="messages" class="my-text">{{ r.roomName }}
                <span class="glyphicon glyphicon-minus my-icon" ng-click="room.deleteRoom(r.$id)">
                </span></a>
            </div>
        </div>
        <div class="col-md-9 col-lg-10 right-bar">
            <ui-view></ui-view>
        </div>
    </div>
</div>





    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAzrK9ezwqEcz7MNySchJQs9fze7y3QNb4",
            authDomain: "bloc-chat-84d1e.firebaseapp.com",
            databaseURL: "https://bloc-chat-84d1e.firebaseio.com",
            projectId: "bloc-chat-84d1e",
            storageBucket: "bloc-chat-84d1e.appspot.com",
            messagingSenderId: "889574062481"
        };
        firebase.initializeApp(config);
    </script>
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/room.js"></script>
    <script src="/scripts/services/modal.js"></script>
    <script src="/scripts/services/message.js"></script>
    <script src="/scripts/controllers/RoomCtrl.js"></script>
    <script src="/scripts/controllers/ModalCtrl.js"></script>
</body>
</html>
