<div class="modal-header">
    <h3 class="modal-title my-text my-text2">Create new room</h3>
</div>
<div class="modal-body">
    <p class="my-text my-text2">Enter a room name:</p>
    <form ng-submit="modal.addRoom(new)">
        <input type="text" class="form-control my-input2" placeholder="Type here" ng-model="new">
        <button class="btn my-btn2 my-btn3 my-btn4" type="submit">Create Room</button>
        <button class="btn my-btn2 my-btn3" type="button" ng-click="modal.cancel()">Cancel</button>
    </form>
</div>